tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    font-size: 12px;

}

.cart-list {
  .photo {
  width: 100px;
  height: 100px;
  }
  .details {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }


}



td {

    display: table-cell;
    vertical-align: inherit;
}
