<footer>
  <div class="col l4 offset-l2 s12 social">
    <ul class="sociallogo" style="margin-bottom: -2px; margin-left: -14px;">

      <a href="https://www.facebook.com/laramarecords/" class="fa fa-facebook" aria-hidden="true"></a>
      <a href="https://www.instagram.com/laramarecords/" class="fa fa-instagram" aria-hidden="true"></a>
      <a href="https://www.discogs.com/user/LaRamaRecords" class="fa" ><img src="https://www.discogs.com/images/brand/discogs-logo.svg" style="width: 50px; height: 50px;"></a>

    </ul>
  </div>


  <div class="footer-basic-centered">
 <span class= "aboutus" style="font-size: 18px; float:left; color:#4E6E58">
    Mon 11-7PM / Thurs-Fri 11-9PM / Sat 12-6PM / Sun 12-5PM

  </span>

  We Represent All Styles

  <a href='/pages/aboutus' class="dat" style="font-size: 18px">

6307 Boul. Saint-Laurent,

H2S 3C3, Montréal, QC</a>
  </div>
</footer>
