<div class="footpad">
<footer>

  <div class="footer-basic-centered" style="display: flex; justify-content: space-between;">
  <div class="row" style="width:100%">
  <div class="hidden-xs col-sm-2" style="font-size: 18px; display:flex; justify-content: flex-start">

2017</div>

  <div class="col-xs-12 col-sm-8" style="display:flex; flex-direction:row; color:#e9eae7; justify-content: center; font-size:1.6em ; font-family:'Damion', 'cursive'">We Represent All Styles</div>

<div class="hidden-xs col-sm-2" style="display:flex; justify-content: flex-end">
 <a href="https://www.facebook.com/laramarecords/" class="fa fa-facebook" aria-hidden="true"></a>
      <a href="https://www.instagram.com/laramarecords/" class="fa fa-instagram" aria-hidden="true"></a>
      <a href="https://www.discogs.com/user/LaRamaRecords" class="fa" ><img src="https://www.discogs.com/images/brand/discogs-logo.svg" style="width: 50px; height: 50px;"></a>
    </div>

    </div>
  </div>
</footer>
</div>
