<footer>
  <div class="col l4 offset-l2 s12 social">
    <ul class="sociallogo">

      <a href="https://www.facebook.com/laramarecords/" class="fa fa-facebook" aria-hidden="true"></a>
      <a href="https://www.instagram.com/laramarecords/" class="fa fa-instagram" aria-hidden="true"></a>

    </ul>
  </div>
  <div class= "aboutus">
    Mon 11-7PM / Tue-Wed CLOSED / Thurs-Fri 11-9PM / Sat 12-6PM / Sun 12-5PM
  </div>
  <div class="footer-basic-centered">
  Rekkids
  </div>
</footer>
