  <div class= "navpad" >
<div class="navbar-wagon navbar-wagon-fixed">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Ramafull.jpg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class= "text-center hidden-xs" style="margin-left: 40px; color: #e9eae7">

  <h2>
    <a class="menus" href="/pages/gear">Gear</a>
    <a class="menus" href="https://www.facebook.com/pg/laramarecords/events/?ref=page_internal">Events</a>

    <a class="menus" href="/pages/aboutus">About</a></h2>


  </div>

  <div class="navbar-wagon-right">

    <input type="text" id="q" class="form-control" />

    <div class="hidden-xs">
  <%= link_to crate_records_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-shopping-cart"></i>
          <div class="badge badge-blue"></div>
        </div>
      <% end %>



    <% if user_signed_in? %>




      <!-- Profile picture and dropdown -->


      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
   <!--  -->
 </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg" style="padding:0px">
    <div class="dropdown2">
       <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu barr" style="text-align: Center; background-color: #292c2f">
        <li><a href="">Arrivals</a></li>
        <li><a href="https://www.facebook.com/pg/laramarecords/events/?ref=page_internal"; >Events</a></li>
        <li><a href="">Catalog⌄</a></li>
        <li><a href="/pages/gear">Gear</a></li>
        <li style="border-top-style: solid; border-top-color: #999999; border-top:width: .5px;"><a href="/pages/aboutus">About</a></li>
        <li><a href="/records/crate">Cart </a></li>
      </ul>
    </div>
  </div>
</div>
</div>
