  <div class= "navpad" >
<div class="navbar-wagon navbar-wagon-fixed">

  <!-- Logo -->
  <img class="logoo" src="https://i.imgur.com/OXtW2Au.png">

  <!-- Right Navigation -->
  <div class= "text-center hidden-xs" style="margin-left: 40px; color: #e9eae7">

  <h2><!-- <a class="menus" href="/records/marketplace">Arrivals</a> -->
   <div class="dropdown">
   <a class="menus" href="/records/marketplace">Catalog⌄</a>
   <div class="dropdown-content">

    <div class="row">
    <div class="col-xs-6"><a href="/records/marketplace">All</a></div>
     <div class="col-xs-6"><a href="/records/house">House</a></div>
     <div class="col-xs-6"><a href="/records/electro">Electro</a></div>
     <div class="col-xs-6"><a href="/records/deephouse">Deep House</a></div>
     <div class="col-xs-6"><a href="/records/disco">Disco</a></div>
    <div class="col-xs-6"><a href="/records/techno">Techno</a></div>
      <div class="col-xs-6"><a href="/records/funk">Funk</a></div>
        <div class="col-xs-6"><a href="/records/ambient">Ambient</a></div>
          <div class="col-xs-6"><a href="/records/soul">Soul</a></div>
          <div class="col-xs-6"><a href="/records/experimental">Experimental</a></div>

  </div>

  </div>
  </div>
    <a class="menus" href="/pages/gear">Gear</a>
    <a class="menus" href="https://www.facebook.com/pg/laramarecords/events/?ref=page_internal" target="_blank" >Events</a>
    <a class="menus" href="/pages/aboutus">About</a></h2>


  </div>
 <!--  <div class="text-center hidden-md hidden-lg">
    La Rama
  </div>

 -->

  <div class="navbar-wagon-right hidden-xs">
  <%= link_to crate_records_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-shopping-cart"></i>
          <div class="badge badge-blue"></div>
        </div>
      <% end %>
    <!-- Search form -->


    <% if user_signed_in? %>




      <!-- Profile picture and dropdown -->


      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
   <!--  -->
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg" style="padding:0px">
    <div class="dropdown2">
       <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu barr" style="text-align: Center; background-color: #292c2f">
        <li><a href="/records/marketplace">Arrivals</a></li>
        <li><a href="https://www.facebook.com/pg/laramarecords/events/?ref=page_internal" >Events</a></li>
      <li>
   <a href="/records/marketplace">Catalog⌄</a></li>
    <div class = "inder">
    <li><a href="/records/marketplace">All</a></li>
    <li><a href="/records/house">House</a></li>
    <li><a href="/records/deephouse">Deep House</a></li>
    <li><a href="/records/techno">Techno</a></li>
    <li><a href="/records/disco">Disco</a></li>
    <li><a href="/records/soul">Soul</a></li>
     <li><a href="/records/funk">Funk</a></li>
       <li><a href="/records/electro">Electro</a></li>
         <li><a href="/records/ambient">Ambient</a></li>
       </div>
         <li style="border-top-style: solid; border-top-color: #999999; border-top:width: .5px;"><a href="/pages/aboutus">About</a></li>
           <li><a href="/records/crate">Cart </a></li>
      </ul>
    </div>
  </div>
</div>
</div>
