<% content_for :title do %>Instant-search<% end %>


<div class="container">
  <div class="row filterrow">
    <div class="col-xs-3 col-sm-1 leftpad">
      <div class="filter"><a class="dark">Filter</a></div>
      <!-- <input type="text" id="q" class="form-control" /> -->
    </div>

    <div class="col-xs-7 col-sm-4">
      <div class="filter dark" id="temparature_montreal"></div>
    </div>

    <div class="hidden-xs col-sm-3">
    <div class="scroll-left">
        <a class="dark" href="https://tinyurl.com/y9cuey8t">
         <!--  <p>Silence of The Lambi 10/27 @ Club Lambi</p> -->
        </a>
      </div>

    </div>

    <div class="col-xs-1 col-sm-4">

    </div>

    <div class="col-xs-1" id="pager">
      <div  id="hits-per-page-selector"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 filter-drop" id="facets">
      <div id="genre"></div>
      <div id="prices"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 listings">
      <div class="records-display" id="hits"></div>
    </div>
  </div>

  <div class="col-xs-12 hidden-md">
    <div class="centered" id="pagination"></div>
  </div>

</div>
