<% content_for :title do %>Instant-search<% end %>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <input type="text" id="q" class="form-control" />
    </div>
    <div class="hidden-xs col-sm-4">
      <div id="pagination"></div>
    </div>
      <div class="hidden-xs col-sm-2">
        <img class="back-button" src="">
      </div>
      <div class="hidden-xs col-sm-2">
          <div class="scroll-left">
      <a style="color:#626262" href="https://www.facebook.com/events/1505633072855528/?acontext=%7B%22source%22%3A5%2C%22page_id_source%22%3A124604688025210%2C%22action_history%22%3A[%7B%22surface%22%3A%22page%22%2C%22mechanism%22%3A%22main_list%22%2C%22extra_data%22%3A%22%7B%5C%22page_id%5C%22%3A124604688025210%2C%5C%22tour_id%5C%22%3Anull%7D%22%7D]%2C%22has_source%22%3Atrue%7D"><p>Silence of The Lambi 10/27 @ Club Lambi</p></a>
      </div>
      </div>
<div class="hidden-xs col-sm-1" id="pager">
          <div  id="hits-per-page-selector"></div>

    </div>
  </div>


  <div class="row">
    <div class="col-sm-3 sideshow" id="facets">
      <div id="genre"></div>
      <div id="prices"></div>
    </div>
    <div class="col-sm-9"><div class="records-display" id="hits"></div></div>

 </div>
<!--  <div class="col-xs-12 hidden-md">
      <div id="pagination"></div>
    </div> -->

</div>
