
<div class="text-center" style="padding:5vh 10vw; margin-top: 5em">

<div class='row'>
<div class="col-xs-12 col-md-4" style="display:flex; align-self: center;">

<img src="https://i.imgur.com/3CALzWp.png" style="height:40vh; width:100%; padding-top: 10px;">


</div>
<div class="col-xs-12 col-md-4 text-center" style="align-self:center; padding-top:10px">
  <img src='https://www.deathofvinyl.com/wp-content/themes/deathofvinyl/images/logo.png?7c1580' class= "swanky spin" style="width:200px; height:200px;">
  <!-- <span > <img src='http://i.imgur.com/qlvaAjh.png' class="chicken"> </span> -->
<div style="padding-top: 10px">
<table>
    <tr>
    <td>Mon</td>
    <td>Th-Fr</td>
    <td>Sat</td>
    <td>Sun</td>
    </tr>
    <tr>
    <td>11-19</td>
    <td>11-21</td>
    <td>12-18</td>
    <td>12-17</td>
    </tr>

  </table>
</div>
</div>
<div class="col-xs-12 col-md-4" style="padding-top:10px; padding-right:50px; padding-bottom:10px; padding-left: 30px;">
<div id="map">


</div>
<p>Record store in Montreal, QC.
Located inside of La Fin du Vinyle/Death of Vinyl at
6307 Boul. Saint-Laurent, H2S 3C3.</p>
    <script>
      function initMap() {
        var uluru = {lat: 45.529546, lng: -73.606741};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          styles:[
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    }
],
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ8FSEJZuoR2AFyoXJ1EyFCspH89Ckxws&callback=initMap">
    </script></div>
</div>
</div>
