<div class="text-center">
  <img src="https://www.deathofvinyl.com/wp-content/uploads/2017/05/LaRamaTapesONLINE.jpg?7c1580">
  <p>Record store in Montreal, QC.
Located inside of La Fin du Vinyle/Death of Vinyl at
6307 Boul. Saint-Laurent, H2S 3C3.</p>


</div>
