<div class="main" style="padding-top: 5vh; padding-bottom:10vh; margin-top: 5em">
  <div class = "row">
    <div class="col-xs-12 col-sm-6">
      <img src="https://i.imgur.com/Tv9b5Cf.png" class=imag style= "height: 100%; width: 100%;">
      <div>Tote Bag</div>
      <div>$20</div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <img src="https://i.imgur.com/dIq3muu.png" class=imag style= "height: 100%; width: 100%;">
      <div>Tee Shirt</div>
      <div>$20</div>
    </div>
  </div>
</div>
