// Your footer style

.sociallogo {

  display: flex
}

footer .fa {
  color: #666666;
  font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

.footer-basic-centered{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  bottom: 0px;

  padding: 20px;


  color:  #8d9093;
  font-size: 24px;

}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0px;
  vertical-align: middle;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

.aboutus {
  margin-left: -4px;
  margin-right: -16px;
}
