<h1>Purchase of record</h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">

      <span>Amount: <%= humanized_money_with_symbol(@order.amount_cents) %></span>
    </label>
  </article>
<% end %>


<form action="/your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_LUkf9UrvfMs2hd3QYWEkzq6m"
    data-amount="<%=@order.amount_cents%>"
    data-name="larama.ca"
    data-description="3 records"
    data-image="http://i.imgur.com/4XJHtBQ.jpg"
    data-locale="auto">
  </script>
</form>
