// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "bootstrap-datepicker";

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  1%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  5% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 10% 10%;
  animation: jump 1s linear alternate infinite;
}


.spin{
  border-radius: 50%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
          transition:         transform .7s ease-in-out;
}
.spin:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.btn-cool {
  color: #646464;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-cool:hover {
  opacity: 1;
  text-decoration: none;
  color: #646464;
}

.funky {
  text-align: right;
}

.sweety {
    box-shadow: 1px 1px;
}

.swanky {

  float: center;
  height: 200px;
  width: 200px;
}

.records-display {
  padding: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  .card {

    margin: 0px;
    padding: 0px;
    min-height: 250px;
    max-width: 250px;
    background-size: cover;
    background-image: "https://static.pexels.com/photos/242236/pexels-photo-242236.jpeg";
      overflow: hidden;
  text-overflow: ellipsis;
  }
  a, a p, a h2 {
    &:hover {
      text-decoration: none;
    }
  }
  p {
    font-weight: bold;
    color: #646464;
    font-size: 0.5em;
    margin-bottom: 0em;
  }
  h2 {
    font-style: italic;
    color: #626262;
    font-size: 0.5em;
    margin: 0 0 0.5em 0;
  }
}

.dat{
  float: right;
  font-size: 1.2em;
}

#player {
  float: right;
    width: 700px;


}

img {

  border-radius: 3px;
}

body {

  background-color: #ECEDEA;
}

#main-wrapper {
      min-height: 700px;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    font-size: 12px;

}


.banner {
  border-radius: 10px;
  margin: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: mintcream;
}

.cart-list {
  .photo {

      max-width: 100%;
        height: 100px;
  }
  .details {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }


}


.imag {
  display: block;
  width: 100%;
  height: auto;
}

.seletak {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: mintcream;
}

.seletak:hover .overlay {
  opacity: .5;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



table {
  text-size: 12px;
  width: 80%;
  border-collapse: collapse;
  th, td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 20px;
  }
  tr:nth-child(even) {
    background-color: #77777;
  }
}


td {

    display: table-cell;
    vertical-align: inherit;
}


.container {

padding-left: 10px;
padding-right: 10px;

}

