// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "bootstrap-datepicker";

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  1%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  5% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 10% 10%;
  animation: jump 1s linear alternate infinite;
}





// LAYOUT
.main {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top:5em;
}

body {

  background-color: white;
}

#main-wrapper {
      min-height: 700px;
}

.container {

padding-left: 10px;
padding-right: 10px;

}

.container2 {
  margin-top: 5em;
        padding-top: 2vh;
        padding-bottom: 2vh;
      padding-left: 10vw;
    padding-right: 10vw;
}

.banner {
  border-radius: 10px;
  margin: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: mintcream;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.cut {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.tracks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:10px; height:35vh
}

.listings{
  padding:0px;
}

.zoomrecord{
  margin-left:0px;
  margin-right:0px;
  margin-top:5px;
  margin-bottom:0px;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.centers{
      display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

 .filterrow{
display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }


.leftpad{
  padding-left:0px;
}
// TABLES

.tracktable{
  margin-top:21px;
  width: 100%;
  word-wrap:break-word;
  table-layout: fixed;
  display: block;
  overflow-y: scroll;
  overflow:auto;
  height: 30vh;
}


tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
   font-size:1em;
}

table {
  text-size: 1.5em;
  width: 100%;
  // border-collapse: collapse;
  th, td {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  padding: 0px;
  }
  tr:nth-child(even) {
    background-color: #77777;
  }
}

table td {
  padding:0px;
  padding-right: 10px;
}

td {

    display: table-cell;
    vertical-align: inherit;
}




// TEXT
h1 {
  font-size: 1.5em;
}

p {
  margin: 0 0 2px;
}

.curls {
  font-family:'Damion', 'cursive'
}

a{
  color:#e9eae7;
}

a:active {
  color:#ffee36;
}

a:hover {
  color: #388697;
  text-decoration: none;
}

.dark{
  color:#626262;
}

.type {
  font-size: 1.2em;
}

.money{
  font-size:40px;
  padding-left:0px
}

.yells {
  color:#ffee36;
  font-family:'Damion', 'cursive';
  height: 20px;
  width: 100%;
   opacity:1;
   font-size: 1em;
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
}

.btn-cool {
  color: #646464;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-cool:hover {
  opacity: 1;
  text-decoration: none;
  color: #646464;
}


.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tagline {
  font-size:1.6em ; margin-top: .5em; font-family:'Damion', 'cursive';
}








.spin{
  border-radius: 50%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
          transition:         transform .7s ease-in-out;
}
.spin:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}



.tip {
  padding-top: 1vh;
}




// LINKS

.filter {
  font-size: .8em;
  display: flex;
   flex-direction: row;
   justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  a,  #temparature_montreal {
    border: solid 1px #d4d8e3!important;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  box-shadow: 0 1px 1px 0 rgba(85,95,110,.2)!important;
  }
}





// DROPDOWNS

.dropdown-content {
  width:30vw; height:30vh;
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 3vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
}

.dropdown2 {
  background-color: #353c34;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1; border-radius:5px;}
.dropdown-content a:active {background-color: #f1f1f1; border-radius:5px; color:#ffee36}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.filter-drop {
  display: none;
  padding: 0px;
}

.search-drop {
  display:none;
}


// ALGOLIA

.ais-hits {
  width:100%;
}

.ais-current-refined-values--link, .ais-hierarchical-menu--link, .ais-menu--link, .ais-price-ranges--link, .ais-refinement-list--label, .ais-star-rating--link, .ais-toggle--label {
    color: #626262;
    text-decoration: none;
}

.ais-refinement-list--label:hover{
  color: #ccc;

}

.ais-pagination--item__active {
    background: #626262;
    color: #ffee36
}

.descr{
  height: 8vh;
}



.ais-refinement-list--label{
  font-size:1.2em;
}

.ais-range-slider .rheostat-progress {
    background-color: #ffee36!important;
}

.ais-range-slider--handle {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    background: #fff;
    border: 1px solid #626262;
    border-radius: 50%;
    cursor: pointer;
}

.pager {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-group-item {
    position: relative;
    display: inline-block;
    // margin-left: 10px;
    // margin-right: 10px;

    margin-bottom: 0px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    width: 18%;
}

.badge {
    position: relative;
   top: 0px;
    right: 0px;
    font-size: .8em;
    color: #ffea36;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* height: 18px; */
    /* width: 18px; */
    text-align: center;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    /* border-radius: 50%; */
}


.form-control:focus {
    border-color: #ffea36;
    color: #e9eae7;
}

.form-control {
    display: block;
    width: 80%;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    color: white;
    background-color: #333333;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

// INSTANTSEARCH??


.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }


.search-terms {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}

.hit-auto-complete {
  em {
    font-weight: bold;
    font-style: normal;
  }

  .email {
    font-size: 0.9em;
  }

  .company {
    text-align: right;
    font-size: 0.8em;
    color: #999;
  }
}

.hit-instant-search {
  border: 1px solid #EFEFEF;
  margin-bottom: 10px;
  padding: 10px 20px;

  em {
    font-weight: bold;
    font-style: normal;
  }

  .name {
    font-size: 20px;
  }

  .year {
    font-size: 20px;
  }

  .created_at {
    float: right;
    color: green;
    font-size: 0.6em;
  }

  .company {
    float: right;
    color: #999;
  }
}





.records-display {

  border-radius: 5px;
  padding-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:-5px;
    margin-right:-5px;
  .card {

    margin: 0px;

    padding: 0px;
    min-height: 250px;
    max-width: 250px;
    background-size: cover;
    background-image: "https://static.pexels.com/photos/242236/pexels-photo-242236.jpeg";;
      overflow: hidden;
  text-overflow: ellipsis;
  }
  a, a p, a h2 {
    &:hover {
      text-decoration: none;
      width:110%;
      height:110;
    }
  }
  p {
    font-weight: bold;
    color: #646464;
    font-size: 0.5em;
    margin-bottom: 0em;
  }
  h2 {
    font-style: italic;
    color: #626262;
    font-size: 0.5em;
    margin: 0 0 1.0em 0;
  }
}


.seletak {
  position: relative;
  height:175px;
  width:175px;
}


.infoo {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:30px;
}


.disc{
  padding-left: 5px;
  padding-right: 5px
}





.dat{
  float: right;
  font-size: 1.2em;
}





.recom {
  width:100%;
  padding: 10px;
  margin: 0px
}



.cart-list {
  .photo {

      max-width: 100%;
        height: 100px;
  }
  .details {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }
}


.just {
  display: flex;
  flex-direction: row;
}


.sidebar {
  color:black;
  font-size: 1.5em;
  padding-left:0px;
  padding:10px;
  text-align: center
}

.sidebar a:hover{
  color: yellow;
}

.inder {
  background-color: white ;

}

.inder a {
  color: #ffee36;
}

.logoo {
  height: 10vh;
  width: 200px;
  padding: 10px;
  border-radius:5px;

}


#pager {   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0px;
  }

 #map {
  height:300px;
  width: 100%;
 }


.paginate a{
  color:black;
}




// IMG
/* Style the Image Used to Trigger the Modal */
img {

  border-radius: 2px;
}


.bigimg {
  height: 25vh;
  width: 100%;
}

.myImg {
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 5px #999999;
    height: 100%;
    width: 100%;
}

.myImg:hover {opacity: 0.7;}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: #252729;
    border-radius:5px;
}

.seletak:hover .overlay {
  opacity: .7;
}

.seletak:hover .overlay2 {
  opacity: .9;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: #252729;
  border-radius: 2px;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
// MODAL
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 52px;
    right: 320px;
    color: yellow;
    font-size: 64px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.snapwidget-widget{
  border-radius: 3px;
  overflow:hidden;
  width:100%;
  height:300px;
}





@media screen and (max-width: 778px) {
    .modal-content {
        width: 100%;
    }
    .main{
          margin-top: 5em;
          padding-left: 5vw;
          padding-right: 5vw;
    }
    .categories {
      width: 100%;
      height: 30vh;
    }
    .seletak {
      width: 150px;
      height: 150px;
    }

    .zoomrecord{
      padding: 0px;
    }
}



.scroll-left {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}





// YOUTUBE
#player {
 padding-top:15px;
width: 100%;
height:35vh;
}
.video {
    position: relative;
    height: 35vh;
}

.video__iframe {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35vh;
}

.video__placeholder {
  width: 100%;
    position: absolute;
    height: 35vh;
}

.video__youtube {
    padding-bottom: 100%;
    width: 100%;
    height: 35vh;
    overflow: hidden;
  position: relative;
    object-fit: cover;

}

.video__button {
    background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.video__button:before {
    width:100%;
    height:100%;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(http://clipart-library.com/images/6cr5B6ALi.png) no-repeat center center;
    background-size: 75%;
}

.video__button:hover:before {
    background: url(http://clipart-library.com/images/6cr5B6ALi.png) no-repeat center center;
    background-size: 75%;
}

    /*! instantsearch.js 2.2.1 | © Algolia Inc. and other contributors; Licensed MIT | github.com/algolia/instantsearch.js */
@-webkit-keyframes sbx-reset-in{0%{-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0);opacity:0}to{-webkit-transform:none;transform:none;opacity:1}}@keyframes sbx-reset-in{0%{-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0);opacity:0}to{-webkit-transform:none;transform:none;opacity:1}}.ais-search-box{position:relative;max-width:300px;width:100%}.ais-search-box--input{padding-left:24px;height:100%;width:100%}.ais-search-box--magnifier,.ais-search-box--reset{background:0 0;position:absolute;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ais-search-box--magnifier{left:7px;top:4px}.ais-search-box--magnifier svg{display:block;vertical-align:middle;height:14px;width:14px}.ais-search-box--reset{cursor:pointer;top:5px;right:5px;margin:0;border:0;padding:0}.ais-search-box--reset svg{display:block;width:12px;height:12px}.ais-search-box--powered-by{font-size:.8em;text-align:right;margin-top:2px}.ais-search-box--powered-by-link{display:inline-block;width:45px;height:16px;text-indent:101%;overflow:hidden;white-space:nowrap;background-image:url('data:image/svg+xml;utf8,<svg width="169" height="54" baseProfile="basic" id="Layer_1" xmlns="http://www.w3.org/2000/svg"; viewBox="0 0 1366 362"><style>.st0{fill:url(#SVGID_1_)}.st1{fill:#fff}.st2{fill:#182359}</style><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="428.258" y1="404.15" x2="434.145" y2="409.85" gradientTransform="matrix(94.045 0 0 -94.072 -40381.527 38479.52)"><stop offset="0" stop-color="#00aeff"/><stop offset="1" stop-color="#3369e7"/></linearGradient><path class="st0" d="M61.8 15.4h242.8c23.9 0 43.4 19.4 43.4 43.4v242.9c0 23.9-19.4 43.4-43.4 43.4H61.8c-23.9 0-43.4-19.4-43.4-43.4v-243c0-23.9 19.4-43.3 43.4-43.3z"/><path class="st1" d="M187 98.7c-51.4 0-93.1 41.7-93.1 93.2S135.6 285 187 285s93.1-41.7 93.1-93.2-41.6-93.1-93.1-93.1zm0 158.8c-36.2 0-65.6-29.4-65.6-65.6s29.4-65.6 65.6-65.6 65.6 29.4 65.6 65.6-29.3 65.6-65.6 65.6zm0-117.8v48.9c0 1.4 1.5 2.4 2.8 1.7l43.4-22.5c1-.5 1.3-1.7.8-2.7-9-15.8-25.7-26.6-45-27.3-1 0-2 .8-2 1.9zm-60.8-35.9l-5.7-5.7c-5.6-5.6-14.6-5.6-20.2 0l-6.8 6.8c-5.6 5.6-5.6 14.6 0 20.2l5.6 5.6c.9.9 2.2.7 3-.2 3.3-4.5 6.9-8.8 10.9-12.8 4.1-4.1 8.3-7.7 12.9-11 1-.6 1.1-2 .3-2.9zM217.5 89V77.7c0-7.9-6.4-14.3-14.3-14.3h-33.3c-7.9 0-14.3 6.4-14.3 14.3v11.6c0 1.3 1.2 2.2 2.5 1.9 9.3-2.7 19.1-4.1 29-4.1 9.5 0 18.9 1.3 28 3.8 1.2.3 2.4-.6 2.4-1.9z"/><path class="st2" d="M721.5 265.6c0 26.7-6.8 46.2-20.5 58.6-13.7 12.4-34.6 18.6-62.8 18.6-10.3 0-31.7-2-48.8-5.8l6.3-31c14.3 3 33.2 3.8 43.1 3.8 15.7 0 26.9-3.2 33.6-9.6s10-15.9 10-28.5v-6.4c-3.9 1.9-9 3.8-15.3 5.8-6.3 1.9-13.6 2.9-21.8 2.9-10.8 0-20.6-1.7-29.5-5.1-8.9-3.4-16.6-8.4-22.9-15-6.3-6.6-11.3-14.9-14.8-24.8s-5.3-27.6-5.3-40.6c0-12.2 1.9-27.5 5.6-37.7 3.8-10.2 9.2-19 16.5-26.3 7.2-7.3 16-12.9 26.3-17s22.4-6.7 35.5-6.7c12.7 0 24.4 1.6 35.8 3.5 11.4 1.9 21.1 3.9 29 6.1v155.2zm-108.7-77.2c0 16.4 3.6 34.6 10.8 42.2 7.2 7.6 16.5 11.4 27.9 11.4 6.2 0 12.1-.9 17.6-2.6 5.5-1.7 9.9-3.7 13.4-6.1v-97.1c-2.8-.6-14.5-3-25.8-3.3-14.2-.4-25 5.4-32.6 14.7-7.5 9.3-11.3 25.6-11.3 40.8zm294.3 0c0 13.2-1.9 23.2-5.8 34.1s-9.4 20.2-16.5 27.9c-7.1 7.7-15.6 13.7-25.6 17.9s-25.4 6.6-33.1 6.6c-7.7-.1-23-2.3-32.9-6.6-9.9-4.3-18.4-10.2-25.5-17.9-7.1-7.7-12.6-17-16.6-27.9s-6-20.9-6-34.1c0-13.2 1.8-25.9 5.8-36.7 4-10.8 9.6-20 16.8-27.7s15.8-13.6 25.6-17.8c9.9-4.2 20.8-6.2 32.6-6.2s22.7 2.1 32.7 6.2c10 4.2 18.6 10.1 25.6 17.8 7.1 7.7 12.6 16.9 16.6 27.7 4.2 10.8 6.3 23.5 6.3 36.7zm-40 .1c0-16.9-3.7-31-10.9-40.8-7.2-9.9-17.3-14.8-30.2-14.8-12.9 0-23 4.9-30.2 14.8-7.2 9.9-10.7 23.9-10.7 40.8 0 17.1 3.6 28.6 10.8 38.5 7.2 10 17.3 14.9 30.2 14.9 12.9 0 23-5 30.2-14.9 7.2-10 10.8-21.4 10.8-38.5zm127.1 86.4c-64.1.3-64.1-51.8-64.1-60.1L930 30l39.1-6.2v183.6c0 4.7 0 34.5 25.1 34.6v32.9zm68.9 0h-39.3V106.1l39.3-6.2v175zm-19.7-193.5c13.1 0 23.8-10.6 23.8-23.7S1056.6 34 1043.4 34s-23.8 10.6-23.8 23.7 10.7 23.7 23.8 23.7zm117.4 18.6c12.9 0 23.8 1.6 32.6 4.8 8.8 3.2 15.9 7.7 21.1 13.4s8.9 13.5 11.1 21.7c2.3 8.2 3.4 17.2 3.4 27.1v100.6c-6 1.3-15.1 2.8-27.3 4.6s-25.9 2.7-41.1 2.7c-10.1 0-19.4-1-27.7-2.9-8.4-1.9-15.5-5-21.5-9.3-5.9-4.3-10.5-9.8-13.9-16.6-3.3-6.8-5-16.4-5-26.4 0-9.6 1.9-15.7 5.6-22.3 3.8-6.6 8.9-12 15.3-16.2 6.5-4.2 13.9-7.2 22.4-9s17.4-2.7 26.6-2.7c4.3 0 8.8.3 13.6.8s9.8 1.4 15.2 2.7v-6.4c0-4.5-.5-8.8-1.6-12.8-1.1-4.1-3-7.6-5.6-10.7-2.7-3.1-6.2-5.5-10.6-7.2s-10-3-16.7-3c-9 0-17.2 1.1-24.7 2.4-7.5 1.3-13.7 2.8-18.4 4.5l-4.7-32.1c4.9-1.7 12.2-3.4 21.6-5.1s19.5-2.6 30.3-2.6zm3.3 141.9c12 0 20.9-.7 27.1-1.9v-39.8c-2.2-.6-5.3-1.3-9.4-1.9-4.1-.6-8.6-1-13.6-1-4.3 0-8.7.3-13.1 1-4.4.6-8.4 1.8-11.9 3.5s-6.4 4.1-8.5 7.2c-2.2 3.1-3.2 4.9-3.2 9.6 0 9.2 3.2 14.5 9 18 5.9 3.6 13.7 5.3 23.6 5.3zM391.9 101c12.9 0 23.8 1.6 32.6 4.8 8.8 3.2 15.9 7.7 21.1 13.4 5.3 5.8 8.9 13.5 11.1 21.7 2.3 8.2 3.4 17.2 3.4 27.1v100.6c-6 1.3-15.1 2.8-27.3 4.6-12.2 1.8-25.9 2.7-41.1 2.7-10.1 0-19.4-1-27.7-2.9-8.4-1.9-15.5-5-21.5-9.3-5.9-4.3-10.5-9.8-13.9-16.6-3.3-6.8-5-16.4-5-26.4 0-9.6 1.9-15.7 5.6-22.3 3.8-6.6 8.9-12 15.3-16.2 6.5-4.2 13.9-7.2 22.4-9s17.4-2.7 26.6-2.7c4.3 0 8.8.3 13.6.8 4.7.5 9.8 1.4 15.2 2.7v-6.4c0-4.5-.5-8.8-1.6-12.8-1.1-4.1-3-7.6-5.6-10.7-2.7-3.1-6.2-5.5-10.6-7.2-4.4-1.7-10-3-16.7-3-9 0-17.2 1.1-24.7 2.4-7.5 1.3-13.7 2.8-18.4 4.5l-4.7-32.1c4.9-1.7 12.2-3.4 21.6-5.1 9.4-1.8 19.5-2.6 30.3-2.6zm3.4 142c12 0 20.9-.7 27.1-1.9v-39.8c-2.2-.6-5.3-1.3-9.4-1.9-4.1-.6-8.6-1-13.6-1-4.3 0-8.7.3-13.1 1-4.4.6-8.4 1.8-11.9 3.5s-6.4 4.1-8.5 7.2c-2.2 3.1-3.2 4.9-3.2 9.6 0 9.2 3.2 14.5 9 18s13.7 5.3 23.6 5.3zm158.5 31.9c-64.1.3-64.1-51.8-64.1-60.1L489.6 30l39.1-6.2v183.6c0 4.7 0 34.5 25.1 34.6v32.9z" transform="translate(121 2)"/></svg>');background-repeat:no-repeat;background-size:contain;vertical-align:middle}.sbx-sffv{display:inline-block;position:relative;width:100%;height:26px;white-space:nowrap;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px}.sbx-sffv__input,.sbx-sffv__wrapper{width:100%;height:100%}.sbx-sffv__input{display:inline-block;-webkit-transition:background .4s ease,-webkit-box-shadow .4s ease;transition:box-shadow .4s ease,background .4s ease;transition:box-shadow .4s ease,background .4s ease,-webkit-box-shadow .4s ease;border:0;border-radius:4px;-webkit-box-shadow:inset 0 0 0 1px #ccc;box-shadow:inset 0 0 0 1px #ccc;background:#fff;padding:0 20px 0 26px;vertical-align:middle;white-space:normal;font-size:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none}.sbx-sffv__input::-webkit-search-cancel-button,.sbx-sffv__input::-webkit-search-decoration,.sbx-sffv__input::-webkit-search-results-button,.sbx-sffv__input::-webkit-search-results-decoration{display:none}.sbx-sffv__input:hover{-webkit-box-shadow:inset 0 0 0 1px #b3b3b3;box-shadow:inset 0 0 0 1px #b3b3b3}.sbx-sffv__input:active,.sbx-sffv__input:focus{outline:0;-webkit-box-shadow:inset 0 0 0 1px #337ab7;box-shadow:inset 0 0 0 1px #337ab7;background:#fff}.sbx-sffv__input::-webkit-input-placeholder{color:#bbb}.sbx-sffv__input:-ms-input-placeholder{color:#bbb}.sbx-sffv__input::placeholder{color:#bbb}.sbx-sffv__submit{position:absolute;top:0;right:inherit;left:0;margin:0;border:0;border-radius:3px 0 0 3px;background-color:transparent;padding:0;width:26px;height:100%;vertical-align:middle;text-align:center;font-size:inherit;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.sbx-sffv__submit::before{display:inline-block;margin-right:-4px;height:100%;vertical-align:middle;content:''}.sbx-sffv__submit:active,.sbx-sffv__submit:hover{cursor:pointer}.sbx-sffv__reset:focus,.sbx-sffv__submit:focus{outline:0}.sbx-sffv__submit svg{width:14px;height:14px;vertical-align:middle;fill:#337ab7}.sbx-sffv__reset{display:none;position:absolute;top:2px;right:2px;margin:0;border:0;background:0 0;cursor:pointer;padding:0;font-size:inherit;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;fill:rgba(0,0,0,.5)}.sbx-sffv__reset svg{display:block;margin:4px;width:14px;height:14px}.sbx-sffv__input:valid~.sbx-sffv__reset{display:block;-webkit-animation-name:sbx-reset-in;animation-name:sbx-reset-in;-webkit-animation-duration:.15s;animation-duration:.15s}.ais-refinement-list--item em{font-style:normal;font-weight:700}.ais-pagination--item{display:inline-block;padding:3px}.ais-pagination--item__disabled{visibility:hidden}.ais-hierarchical-menu--list__lvl1,.ais-hierarchical-menu--list__lvl2{margin-left:10px}.ais-range-slider .ais-range-slider--disabled{cursor:not-allowed}.ais-range-slider .ais-range-slider--disabled .ais-range-slider--handle{border-color:#ddd;cursor:not-allowed}.ais-range-slider .ais-range-slider--disabled .rheostat-horizontal .rheostat-progress{background-color:#ddd}.ais-range-slider .rheostat{overflow:visible;margin-top:2em;margin-bottom:2em}.ais-range-slider .rheostat-background{background-color:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-left:2px solid #ddd;border-right:2px solid #ddd;position:relative}.ais-range-slider .rheostat-horizontal .rheostat-background{height:6px;top:0;width:100%}.ais-range-slider .rheostat-horizontal .rheostat-progress{background-color:#46aeda;position:absolute;height:4px;top:1px}.ais-range-slider .rheostat-horizontal .rheostat-handle{margin-left:-12px;top:-7px}.ais-range-slider .rheostat-horizontal .rheostat-handle .ais-range-slider--tooltip{text-align:center;margin-left:-10px;width:40px}.ais-range-slider .rheostat-horizontal .rheostat-handle:after,.ais-range-slider .rheostat-horizontal .rheostat-handle:before{top:7px;height:10px;width:1px}.ais-range-slider .rheostat-horizontal .rheostat-handle:before{left:10px}.ais-range-slider .rheostat-horizontal .rheostat-handle:after{left:13px}.ais-range-slider--handle{width:20px;height:20px;position:relative;z-index:1;background:#fff;border:1px solid #46aeda;border-radius:50%;cursor:pointer}.ais-range-slider--tooltip{position:absolute;background:#fff;top:-22px;font-size:.8em}.ais-range-slider--value{width:40px;position:absolute;text-align:center;margin-left:-20px;padding-top:15px;font-size:.8em}.ais-range-slider--marker{position:absolute;background:#ddd;margin-left:-1px;width:1px;height:5px}.ais-star-rating--item{vertical-align:middle}.ais-star-rating--item__active{font-weight:700}.ais-star-rating--star,.ais-star-rating--star__empty{display:inline-block;width:1em;height:1em}.ais-star-rating--star:before{content:'\2605';color:#fbae00}.ais-star-rating--star__empty:before{content:'\2606';color:#fbae00}.ais-star-rating--link__disabled .ais-star-rating--star:before,.ais-star-rating--link__disabled .ais-star-rating--star__empty:before{color:#c9c9c9}.ais-root__collapsible .ais-header{cursor:pointer}.ais-root__collapsed .ais-body,.ais-root__collapsed .ais-footer{display:none}
/*# sourceMappingURL=instantsearch.min.css.map */
