// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "bootstrap-datepicker";

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

.records-display {
  padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  .card {
    margin: 0px;
    padding: 0px;
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
  }
  a, a p, a h2 {
    &:hover {
      text-decoration: none;
    }
  }
  p {
    font-weight: bold;
    color: #646464;
    font-size: 0.5em;
    margin-bottom: 0em;
  }
  h2 {
    font-style: italic;
    color: #626262;
    font-size: 0.5em;
    margin: 0 0 0.5em 0;
  }
}



#main-wrapper {
  min-height: 5vh;
}



